body{
  background-color: #85cae6;
}
.card {
  background-color: #0cc29a;
  padding: 20px;
}

h3 {
  color: #041f3bcc;
}


p {
  font-size: x-large;
  color: #041f3bcc;
}

img {
  border-radius: 25px;
  margin-top: 60px;
  width: 220px;
}
