.navbar {
    width: 100%;
    padding: 1rem;
    background-color: #bfccda;
    display: flex;
    justify-content: space-around;
  }
  
  .link {
    color: rgb(226, 19, 19);
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .link:hover {
    text-decoration: underline;
  }